/* ::root{ */
/*     --accent: #d7d7d7; */
/*     --dark: #383C4A; */
/*     --light: #7C818C; */
/*     --ld: #404552; */
/*     --dl: #4B5162 */
/*     --white: white; */
/* } */

* {
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  border: none;
  border-radius: 10;
}

window {
  border-radius: 15;
  background-color: rgba(13,13,13,0.8);
  border: 2px solid #d7d7d7;
  padding: 7px;
  width: 150%;
}

#input,
#input:active,
#input:focus {
  margin: 0px;
  border-radius: 10px;
  border-bottom: 1px solid #d7d7d7;
  background-color: #101010;
  color: white;
  padding-left: 5px;
}

#inner-box {
  background-color: #10101033;
  margin: 15px;
  padding: 0px;
  height: 10px;
}

#outer-box {
  margin: 3px;
  padding: 10px;
  background-color: #10101033;
  height: 10px;
}

#scroll {
}

#text {
  padding: 0px;
  color: white;
  height: 14px;
  border-radius: 10px;
}

#entry {
  padding-left: 5px;
  padding-right: 5px;
  height: 14px;
  border-radius: 10px;
}

#entry:selected {
  background-color: #d7d7d7;
  border-radius: 10px;
  color: black;
  height: 14px;
}

#text:selected {
  color: black;
  border-radius: 10px;
}
